repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/iterative/dvc
    rev: 3.66.1
    hooks:
      - id: dvc-pre-commit
        language_version: python3
        stages: [pre-commit]
      - id: dvc-pre-push
        language_version: python3
        stages: [pre-push]
